<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员后台</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>
    <div class="main-card">
        <div class="all" id="adminContainer">
            <header class="banner">
                <div class="menu">管理员后台</div>
            </header>
            <div class="content">
                <div class="leftMenu">
                    <a class="submenuleft" href="main.html">Main</a>
                    <a class="submenuleft" href="adminMenu.html">Admin</a>
                    <a class="submenuleft" href="*">Register</a>
                    <a class="submenuleft" href="*">User</a>
                </div>
                <div class="rightContent">
                    <div class="sectionTitle">用户管理</div>
                    <div class="sectionContent">
                        <label>建立邀请码</label>
                        <div class="inputRow">
                            <input type="text" id="generateInvitationCodeInput" placeholder="请输入用户名">
                            <button id="generateInvitationCodeButton">生成邀请码</button>
                        </div>
                    </div>
                    <div class="sectionContent">
                        <label>已有邀请码</label>
                        <table id="invitationCodesTable">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th>邀请码</th>
                                    <th>创建时间</th>
                                    <th>到期时间</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="foot">
                <a href="/logout" style="display:inline-block;margin-top:18px;color:white;">退出登录</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
</body>

</html>