<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Operation Failed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <meta http-equiv="refresh" content="3;url={{ next_url }}">
</head>

<body>
    <div class="main-card">
        <h2>{{ msg }}</h2>
        <p style="margin-top:24px;font-size:0.95em;">
            3秒后将自动跳转... 如果未跳转，<a href="{{ next_url }}">点此跳转</a></p>
    </div>
</body>

</html>