<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>
    <div class="main-card">
        <h2>用户登录</h2>
        <form id="login-form">
            <input type="text" name="username" id="username" placeholder="用户名" required>
            <input type="password" name="password" id="password" placeholder="密码" required>
            <button type="submit">登录</button>
        </form>
        <div id="msg"></div>
        <p style="margin-top:24px;font-size:0.95em;">
            还没有账号？<a href="/register">注册</a>
        </p>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>

</html>