<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel - Main</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="all">
            <header class="banner">
                <div class="menu">Main</div>
            </header>
            <div class="content">
                <div class="leftMenu">
                    <a class="submenuleft" href="main.html">Main</a>
                    <a class="submenuleft" href="adminMenu.html">Admin</a>
                    <a class="submenuleft" href="*">Register</a>
                    <a class="submenuleft" href="*">User</a>
                </div>
                <div class="rightContent">
                    Watever this is
                </div>
            </div>
            <div class="foot">
            </div>
    </div>
</body>
</html>