<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>
    <div class="main-card">
        <h2>用户注册</h2>
        <form id="register-form">
            <div class="form-group">
                <input type="text" name="invitation_code" id="invitation_code" placeholder="邀请码" required>
                <span class="input-icon" id="invitation_code_icon"></span>
            </div>
            <div class="form-group">
                <input type="email" name="email" id="email" placeholder="邮箱" required autocomplete="email">
                <span class="input-icon" id="email_icon"></span>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" placeholder="密码" required
                    autocomplete="new-password">
                <span class="input-icon" id="password_icon"></span>
            </div>
            <div class="form-group">
                <input type="password" name="password_confirm" id="password_confirm" placeholder="确认密码" required
                    autocomplete="new-password">
                <span class="input-icon" id="password_confirm_icon"></span>
            </div>
            <button type="submit">注册</button>
        </form>
        <div id="msg"></div>
        <p style="margin-top:24px;font-size:0.95em;">
            已有帐号？<a href="/login">登录</a>
        </p>
    </div>
    <script src="{{ url_for('static', filename='register.js') }}"></script>
</body>

</html>