<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Center</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>
    <div class="main-card">
        <div class="all" id="userContainer">
            <header class="banner"></header>
            <div class="content">
                <div class="leftMenu">
                    <a class="submenuleft" href="#">服务器</a>
                    <a class="submenuleft" href="#">用户设置</a>
                </div>
                <div class="rightContent">
                    <div class="sectionTitle">服务器 Profile</div>
                    <div class="sectionContent">
                        <label>Profile 列表</label>
                        <table id="profilesTable">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>CN</th>
                                    <th>目标服务器</th>
                                    <th>下载链接</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="sectionContent">
                        <label>Profile 申请</label>
                        <div class="inputRow">
                            <select id="requestProfileServerSelect">
                                <option value="">请选择服务器</option>
                            </select>
                            <p>数量：</p>
                            <div class="numberInput">
                                <button type="button" class="decrement">-</button>
                                <input type="number" id="requestProfileNumInput" value="1" min="1" max="5">
                                <button type="button" class="increment">+</button>
                            </div>
                            <button id="requestProfileButton">发送请求</button>
                        </div>
                    </div>
                    <div class="sectionContent">
                        <label>Profile 申请列表</label>
                        <table id="profileRequestsTable">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>CN</th>
                                    <th>目标服务器</th>
                                    <th>申请时间</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="foot">
                <a href="/logout" style="display:inline-block;margin-top:18px;color:white;">退出登录</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <script src="{{ url_for('static', filename='user.js') }}"></script>
</body>

</html>